div {
    display: block;
    position: relative;
    top: 40px;
    text-align: center;
}



label {
    text-align: center;
}

input.confirm-password{
    margin-bottom: 20px;
}

button.submit {
    display: block;
    margin: auto
}

span.form-validation {
    margin-bottom: 20px;
}