* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to right bottom,
      rgba(159, 111, 213, 0.966),
      rgba(107, 172, 209, 0.541)),
    url(../images/wallpaper2.jpg);
  /* images go from right to left */
  background-size: cover;
  background-position: top;
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  font-family: 'Karla', sans-serif;
  color: white;

  padding: 0 10px 20px 10px
}

h1,
h2,
h3 {
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Rubik', sans-serif;
}

a {
  color: white
}

form {
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 5%;

}

fieldset {
  border: 1px white;
  flex-direction: column;
  color: black
}

label {
  font-size: 30px;
}


input {
  width: 60%;
  height: 30px;
  font-size: 24px;
  display: block;
  /* border: 1px solid black; */
  height: 48px;
  margin: auto;
}


legend {
  display: block;
}

button {
  margin-top: 20px;
  width: 120px;
  height: 25px;
  font-size: 20px;
  background-color: rgba(83, 80, 80, 0.877);
  color: white;
  padding-bottom: 15px;
}

p.description {
  font-style: italic;
}

span.like-count {
  font-weight: bold;
}

button.like-button {
  border-radius: 20px;
  color: black;
  background-color: white;
}

a.download {
  display: block;
  margin: 10px 0 10px 0
}

@media only screen and (min-width:650px) {}

@media only screen and (min-width: 992px) {
  div.song {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 0 7px 10px 7px
  }

  form {
    width: 400px;
    margin: auto;
    position: relative;
    top: 30px
  }

}