* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.song {
  margin-top: 15px;
  padding-bottom: 50px;
  border: 1px solid white;
  border-radius: 20px;
}

div.song:nth-child(even) {
  background-color: rgba(98, 178, 202, 0.219);
}

a {
  text-decoration: none;
}